@import "tailwindcss";
#nav-bar{
  width: 100%;
  height: 8vh;
  background-color: rgba(0,0,0, 0.7);
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#nav-bar p{
  padding: 8px;
  font-weight: bold;
  font-size: large;
  width: 30vh;
}

#tab-buttons{
  display: flex;
  width: 100vh;
  justify-content: space-evenly;
}


#card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 12px;
  padding: 0; 
}

.title{
  padding-left: 12px;
}
.description{
  padding: 12px;
}

.footer{
  width: 100%;
  text-align: center;
  margin: 12px;
  padding: 8px;
  color:white;
}